body{
	padding: 0;
	margin: 0;
}

/*
	TEMP
 */

h1{
	font-family: 'Muli', sans-serif;
	color: #888;
	font-weight: 300;
	text-align: center;
}

.controller{
	min-height: 75vh;
}

.hero{
	min-height: 85vh;
	background: linear-gradient(to bottom right, #4389A2, #5C258D);
	background-color: #5C258D;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-text, .sub-text, .nav-list, .main-text, .footer{
	font-family: 'Muli', sans-serif;
}

.hero-text{
	color: #fff;
	font-weight: 300;
	text-align: center;
	padding: 0;
	margin: 0;
}

.sub-text{
	color: #fff;
	font-size: .8em;
	padding: 0;
	margin: 10px;
	font-weight: 300;
	text-align: center;
}

.link{
	text-decoration: none;
	color: #0CBEFF;
	font-weight: 400;
	transition: .2s;
}

.link:hover{
	color: #5BD3FF;
}

.nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: 2px solid #e8e8e8;
}

.main-text{
	color: #0CBEFF;
	font-weight: 300;
}

.nav-list{
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav-list-item{
	display: inline-block;
	margin: 0 20px;
}

.footer{
	background-color: #0CBEFF;
	padding: 20px;
	color: #fff;
	text-align: center;
}
