
<div class="hero">
	<div>
		<h1 class="h1">{{ heroMain }}</h1>
		<p class="p">{{ subHero }}</p>
	</div>
</div>

<div class="cont">
	<div class="about">
		<h1 class="h1 onyx">{{ aboutMe.title }}</h1>
		<p class="p onyx">{{ aboutMe.body }}</p>
	</div>

	<div class="tools">
		<h1 class="h1 onyx">Toolkit</h1>
			
			<h2 class="h2 onyx">Languages and Frameworks</h2>

			<p class="center">
				<em class="icon-html5"></em>
				<em class="icon-css3-alt"></em>
				<em class="icon-bootstrap"></em>
				<em class="icon-sass"></em>

				<em class="icon-js"></em>
				<em class="icon-jquery-alt"></em>
				<em class="icon-angular"></em>
		  		<em class="icon-nodejs"></em>
		  	
		  		<em class="icon-git"></em>
		  	</p>

		  	<h2 class="h2 onyx">Software</h2>

			<p class="center">
				<em class="icon-ubuntu"></em>
				<em class="icon-photoshop"></em>
		  		<em class="icon-lightroom"></em>
		  		<em class="icon-sublime"></em>
		  		<em class="icon-mongodb"></em>
			</p>

		  	<h2 class="h2 onyx">Services</h2>

			<p class="center">
		  		<em class="icon-github"></em>
		  		<em class="icon-heroku"></em>
		  	</p>
		  
	</div>
	
	<div class="projects">

		<h1 class="h1 onyx">Recent Projects</h1>
		
		<div ng-repeat="project in projects">
			<div>
				<img ng-src="{{ project.img }}" class="img">
			</div>
			<div>
				<h2>{{ project.title }}</h2>
				<p class="p">{{ project.desc }}</p>
				<button>{{ project.button }}</button>
			</div>
		</div>

	</div>

</div>
